# Remix compiler artifacts
**/artifacts/
**/artifacts/**
.idea/
# Remix plugin state folders
deps/
states/
deployments/*
scripts/*

# Debug info
*.dbg.json
*.tsbuildinfo

# Test files
test/

# Optional
.env
.env.local
node_modules
.cursorrules
.cursor
.cursorignore
.cursorarchitecture